<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <img src="<%= pfp %>" height="200" width="200"/>
<ul>
  <li>First Name: <%= firstName %></li>
  <li>Last Name: <%= lastName %></li>
  <li>Email: <%= email %></li>
  <li>Bio: <%= bio %></li>
</ul>

<a href="/editprofile">Edit Profile</a>

</body>
</html>